body {
	margin:0;
	background-color: white;
}

.namebox {
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100vw;
	height: 100vh;
	background-color: white;
	z-index: 999;
}

.namebox > p {
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-family: 'Open Sans', sans-serif;
}

.titlebox {
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100vw;
	height: 100vh;
	background-color: white;
	z-index:998;
	font-family: 'Open Sans', sans-serif;
}


.titlebox > .title {
	font-size: 8vw;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
	width:100vw;
	position:fixed;
	top:42%;
	left:50%;
	transform: translate(-50%,-45%);	
}

.titlebox > .date {
	position: fixed;
	top:55%;
	left:50%;
	transform: translate(-50%,-60%);
	font-size:3vw;
	text-align: center;	
}

.statementbox {
	position: fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	height: 100%;
	background-color: gainsboro;
	z-index: 997;
	overflow: scroll;
}

.statementbox > p {
	position: absolute;
	font-size: 4vw;
	line-height:1.6;
	text-align: justify;
	width: 80%;
	top: 47%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

.badak {
	position:fixed;
	top:0;
	left:0;	
	right:0;
	width:100vw;
	height: 100vh;
	background : linear-gradient(70deg, #E9E9E9, white);
	background-color: #F5F5F5;
	z-index: 1;

}

.floor1 {
	position:fixed;
	top:-13vh;
	left:5;
	width:120vw;
	height:20vh;
	background-color: white;
	box-shadow: -1px 1px 10px 3px #D0D0D0;
	transform: rotate(12deg);
	z-index: 9;
}

.floor2 {
	position:fixed;
	top:40vh;
	right:-0.5vw;
	width:5vw;
	height:60vh;
	background-color: white;
	z-index: 9;
}

.floor2:after {
	content:"";
	position:absolute;
	top:-30vh;
	right:0;
	width:0;
	height:0;
	border-bottom: 30vh solid white;
	border-left: 5vw solid transparent;
	z-index: 9;
}

.floor2shadow {
	transform: scale(1.03);
	position:fixed;
	top:40vh;
	right:0;
	width:5vw;
	height:60vh;
	background-color: #D0D0D0;
	z-index: 8;
	filter:blur(3px);
}

.floor2shadow:after {
	content:"";
	transform: scale(1.03);
	position:absolute;
	top:-30vh;
	right:0;
	width:0;
	height:0;
	border-bottom: 30vh solid #D0D0D0;
	border-left: 5vw solid transparent;
	filter:blur(3px);
	z-index: 8;
}

.floor3 {
	position:fixed;
	top:50vh;
	left:-6vw;
	width:13vw;
	height:50vh;
	background-color: white;
	transform: skew(-3deg);
	box-shadow: 0px 10px 5px 3px #D0D0D0;
	z-index: 9;
}

.floor5 {
	position:fixed;
	top:0;
	left:0;
	width:10vw;
	height:25vh;
	background-color: white; 
	z-index: 9;
	box-shadow: 0vw 0px 5px 3px #D0D0D0;
}

.welcome {
	overflow:hidden;
	transform-origin: bottom left;
	position: fixed;
	left:0;
	top:0;
	width:100vw;
	height:5vh;
	background-color: yellow;
	z-index:996;
	text-align: center;
}

.welcome div {
	display:inline-block;
	width:200vw;
	height:3vh;
	position:absolute;
	top:1vh;
	overflow:hidden;
	animation: message 10s linear infinite;
	text-align: center;
	line-height: 3vh;
}

.welcome span {
	display:inline-block;
	width:200vw;
	height:3vh;
	font-size:4vw;
	font-weight: bold;
	color:black;
	line-height: 3vh;
	text-align: center;
	font-family: 'Odibee Sans', cursive;
}

@keyframes message {
	0% {left:100vw;}
	100% {left:-200vw;}
}

.you {
	position:fixed;
	top:36vh;
	left:5vw;
	width:5px;
	height:5px;
	border-radius: 50%;
	border-style:solid;
	border-color:red;
	border-width: 3px;
	z-index:9;
	animation: mark 1s infinite;

}

@keyframes mark {
	0%{
		transform: scale(1);
		opacity: 100%;
	}

	100% {
		transform: scale(1.5);
		opacity: 0%;
	}
}

.sign {
	position:fixed;
	top:32vh;
	left:10vw;
	font-size:3vw;
	z-index: 2;
	color:red;
	font-family: 'Odibee Sans', cursive;
	animation: sign 2s;
	animation-iteration-count:3;
	animation-fill-mode:forwards;
}

@keyframes sign {
	0%{
		opacity:100%;
	}

	100%{
		opacity:0%;
	}
}

.receipt {
	position:fixed;
	overflow: hidden;
	font-size: 13vw;
	top:40vh;
	right:10vw;
	width:10vw;
	height:20vh;
	background-color: white;
	border-style: outset;
	border-width: 6px;
  	border-radius: 5px;
  	z-index: 9;
  	font-family: 'Open Sans', sans-serif;
  	font-style: oblique;
}


.receipt> .linkBody {
	position:absolute;
	font-size: 13vw;
	top:0;
	right:0;
	width:100%;
	height: 100%;
	height:100%;
}


a {
	display: block;
	text-decoration: none;
	width:100%;
	height:100%;
	color: #555;

}


.card {
	width:40vw;
	height: 25vh;
	position:fixed;
	top:42vh;
	right:1vw;
	display:inline-block;
	transition:0.5s;
	margin-right:50px;
	z-index: 8;
}

.front {
	position:absolute;
	width:40vw;
	height:25vh;
	background-color: white;
	border-style:solid;
	border-color:white;
  	border-radius: 10px;
  	border-width: 7px;
  	z-index:8;
 }

.whoImg {

	width:100%;
	height:100%;
	object-fit:cover;
	border-radius: 10px;
}


.back {
	position: absolute;
	top:0;
	left:0;
	width:40vw;
	height: 25vh;
	background-color:gainsboro;
	transform: rotateY(90deg);
	border-style:solid;
	border-color:white;
	
  	border-radius: 10px;
  	border-width: 7px;
}

.whoBack {
	width:100%;
	height:100%;
	border-radius: 10px;
}

.cardRotate .front {
	opacity: 1;
	animation: rotateAni 0.5s 1;
	transform: rotateY(90deg);
}

.cardRotate .back {
	opacity: 1;
	animation: rotateAnii 0.5s 0.5s 1 backwards;
	transform: rotateY(0);
}

.backRotate .front {
	opacity: 1;
	animation: BackrotateAnii 0.5s 0.5s 1 backwards;
	transform: rotateY(0deg);
}

.backRotate .back {
	opacity: 1;
	animation: BackrotateAni 0.5s 1;
	transform: rotateY(-90deg);
}

@keyframes rotateAni {
	0%{
		transform:rotateY(0);
	}

	100% {
		transform: rotateY(90deg);
		opacity: 0;
	}
}

@keyframes rotateAnii {
	0%{
		transform:rotateY(-90deg);
	}

	100%{
		transform: rotateY(0deg);
		opacity: 1;
	}
}


/* .backRotate .front */
@keyframes BackrotateAni {
	0%{
		transform:rotateY(0);
	}

	100% {
		transform: rotateY(90deg);
		opacity: 0;
	}
}

/* .backRotate .back */
@keyframes BackrotateAnii {
	0%{
		transform:rotateY(-90deg);
	}

	100%{
		transform: rotateY(0deg);
		opacity: 1;
	}
}

.candle {
	position:fixed;
	top:20vh;
	right:5vw;
	width:1.5vw;
	height:5vh;
	background-color: black;
	border-radius: 2px;
	z-index: 3;
}

.candle2 {
	position:fixed;
	top:20vh;
	right:10vw;
	width:1.5vw;
	height:5vh;
	background-color: black;
	border-radius: 2px;
	z-index: 3;
}

.candle3 {
	position:fixed;
	top:20vh;
	right:15vw;
	width:1.5vw;
	height:5vh;
	background-color: black;
	border-radius: 2px;
	z-index: 3;
}


.light {
	position:fixed;
	top:18vh;
	right:5vw;
	width:1.5vw;
	height:2vh;
	background : linear-gradient(to bottom, red, black);
	border-radius: 50%;
	transform: rotate(-10deg);
	transform-origin: bottom;
	animation: twingle 2s ease-out;
	animation-iteration-count: infinite;
	z-index: 3;
}

.light2 {
	position:fixed;
	top:18vh;
	right:10vw;
	width:1.5vw;
	height:2vh;
	background : linear-gradient(to bottom, red, black);
	border-radius: 50%;
	transform: rotate(-10deg);
	transform-origin: bottom;
	animation: twingle 2s ease-out;
	animation-iteration-count: infinite;
	z-index: 3;
}

.light3 {
	position:fixed;
	top:18vh;
	right:15vw;
	width:1.5vw;
	height:2vh;
	background : linear-gradient(to bottom, red, black);
	border-radius: 50%;
	transform: rotate(-10deg);
	transform-origin: bottom;
	animation: twingle 2s ease-out;
	animation-iteration-count: infinite;
	z-index: 3;
}

@keyframes twingle {
	0%{
	transform: rotate(-10deg);
	}
	50% {
	transform: rotate(10deg);
	}
	100% {
	transform: rotate(-10deg);
	}
}


.clock {
	position:fixed;
	bottom:5vh;
	right:10vw;
	width:10vw;
	height:10vw;
	background-color: white;
	border-radius: 50%;
	padding:3vw;
	z-index: 3;
}

.clock-face {
	position:relative;
	width:100%;
	height:100%;
	transform: translate(-1px);
}

.hand {
	background-color: black;
	position:absolute;
	top:50%;
	transform:rotate(90deg);
	transform-origin: 100%;
	border-radius:50px;
	transition: all 0.5s;
	transition-timing-function:cubic-bezier(0.1,2.7,0.58,1);
}

.hour-hand {
	width:50%;
	height:3px;
	left:0;
}

.min-hand {
	width:60%;
	height:2.5px;
	left:-10%;
}

.second-hand {
	width:60%;
	height:2px;
	left:-10%;
	background-color: red;
}

.message {
	position:fixed;
	top:12vh;
	left:15vw;
	width:50px;
	height: 50px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 0px 5px 3px gray;
	z-index: 2;
	
}

.mAlarm {
	position:absolute;
	top:-10px;
	left:30px;
	width:8vw;
	height:20px;
	background-color: red;
	color:white;
	text-align: center;
	line-height: 20px;
	font-weight:bold;
	font-size:3.5vw;
	border-radius: 50px;
	z-index: 8;
}

.mAlarm > span {
	text-align: center;
	line-height: 20px;
	z-index:9;
	font-family: 'Open Sans', sans-serif;
}


.iphone {
	position:fixed;
	bottom:20vh;
	left:12vw;
	width:7vw;
	height:8vh;
	background-color: black;
	border-style: solid;
	border-color: black;
  	border-radius: 7px;
  	border-width: 3px;
  	z-index:6;  	
}

.iphoneTouch {
	position:absolute;
	bottom:0.7vh;
	left:0;
	width:7vw;
	height:6.5vh;
	background-color: white;
  	border-width: 0.5rem;
	z-index:7;
}

.button {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	border-top: 5px solid transparent;
	border-left: 10px solid black;
	border-bottom: 5px solid transparent;
	z-index: 9;
}

.chargeLine {
	position:absolute;
	top:9.5vh;
	left:3.4vw;
	width:0.2vw;
	background-color: black;
	height:14vh;
	border-width:0.5vw;
	z-index: 2;
}

.battery {
	position: absolute;
	bottom:5vh;
	left:10vw;
	width:25px;
	height: 5px;
	background-color: white;
	border: solid black 2px;
	border-radius: 10px;
	z-index: 2;
}


.screen {
	position:fixed;
	bottom:1vh;
	left:50%;
	transform:translate(-50%,-1vh);
	width:80vw;
	height:0.5vh;
	border: solid 2px;
	border-color: black;
	background-color: yellow;
	border-radius: 20px;
	z-index: 3;
}

.play1 {
	position:fixed;
	top:-6px;
	left:0;
	width:15px;
	height:15px;
	border-radius: 50%;
	background-color: black;
	animation: playmotion 20s;
	animation-iteration-count: infinite;	
	animation-timing-function: linear;
	z-index: 4;
}

@keyframes playmotion {
	0%{
		left:0vw;
	}

	100%{
		left:78vw;
	}
}

.play2{
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0.5vh;
	border-radius: 5px;
	background-color: black;
	animation: play 20s ;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	z-index: 4;
}

@keyframes play {
	0%{
		width: 2vw;
	}
	100%{
		width:80vw;
	}
}




